*{
	margin:0;
	padding:0;
}
body{
  --ball-size:12em;
	--egg-size:3em;
	position:relative;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	
	background-color: black;
}


#tap-egg{
	position:relative;
	width:var(--egg-size);
	height:var(--egg-size);
	background-color: white;
	border-radius: 50%;
}


.backdrop{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	transform:opacity .25;
}
.ball{
  transform-origin: top;
  animation-timing-function: linear;
  position:absolute;
	/* width:var(--ball-size);
	height:var(--ball-size); */
	/* background-color: yellow; */
	border-radius: 50%;
}

.ball > .shine{
  position:absolute;
	top:calc(.1 * var(--ball-size));
	right:calc(.1 * var(--ball-size));
	width:calc(.4 * var(--ball-size));
	height:calc(.4 * var(--ball-size));
	background-color: white;
  opacity:.6;
	border-radius: 50%;
}
.ball > .small-shine{
  position:absolute;
	top:calc(.15 * var(--ball-size));
	right:calc(.2 * var(--ball-size));
	width:calc(.1 * var(--ball-size));
	height:calc(.1 * var(--ball-size));
	background-color: white;
	border-radius: 50%;
}
.ball > .cap{
  position:absolute;
	top:calc(-.05 * var(--ball-size));
	left:calc(50% - calc(.05 * var(--ball-size)));
	width:calc(.1 * var(--ball-size));
	height:calc(.05 * var(--ball-size));
  background-color: yellow;
}
.ball > .ring{
  position:absolute;
  box-sizing: border-box;
	top:calc(-.1 * var(--ball-size));
	left:calc(50% - calc(.05 * var(--ball-size)));
	width:calc(.1 * var(--ball-size));
	height:calc(.1 * var(--ball-size));
  border:1px solid yellow;
  border-radius:50%;
}


p.fire{
	font-size: 2em;
  text-align: center;
	color: #ffffff;
	text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

a.header-text{
	z-index:100;
	position:absolute;
	top:1em;
	color:white;
	font-size:1em;
}

p.footer-text{
	position:absolute;
	bottom:1em;
	color:white;
	font-size:1em;
}
