.container{
  --record-input-height:3em;
  position:fixed;
  bottom:-100vh;
  width:100%;
  height:100vh;

  transition: bottom .5s;

  background-color: #ffffff66;
}
.container.open{
  bottom:0;
}
.input-container{
  position:absolute;
  bottom:0;
  width:80%;
  margin:0 10%;
  display:flex;
  align-items:center;
  height:var(--record-input-height);
  
}
.input-container.positive{
  background-color: lightgreen;
}
.input-container.negative{
  background-color: lightpink;
}
.button{
  position:relative;
  margin:.5em;
}

.number-input{}

.cause-input{}

.cause-input{}

.button.save{
}
.button.close{
}